<div class="container">
    <div class="row">
        <h1 class="text-center">Welcome to helper system</h1>
        <div class="col-md-12">
            <p>Hello and welcome to Blauband tools. There are you will be able to manage many useful things. Now this system just created and has only one option that allow compare and analyze data from two excel files.</p>
        </div>
    </div>
</div>
