{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="container alert alert-danger">
        {% block general_errors %}
            {% if error != null %}
                {{ error }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}