<div class="container">
    <div class="row top-menu-line">
        <a href="/">
            <div class="col-lg-3">
                <img class="pull-left" src="{{ asset('images/logo.png') }}" alt="">
                <div class="logo-text">{{ logo_text }}</div>
            </div>
        </a>
        {% include 'default/login-area.html.twig' %}
    </div>
    {% include 'default/main-menu.html.twig' %}
</div>
