{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('AppBundle:Default:header')) }}
{% endblock %}

{% block body %}
    {% block content %}
    {% if app.user != null %}
        {% include 'default/body.html.twig' %}
    {% else %}
        <div class="container">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>This page is protected! You have to <a href="/login">login</a></p>
            </div>
        </div>
    {% endif %}
    {% endblock %}
{% endblock %}

{% block footer %}
    {{ render(controller('AppBundle:Default:footer')) }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/sweetalert.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('js/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
