<div class="col-lg-9 top-login-container">
{% if app.user != null %}

    {% block login_area_authentificated %}
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="#">Profile</a></li>
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </div>
    {%  endblock %}

{% else %}

    {% block login_area_non_authentificated %}
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="{{ path('register') }}">Register</a></li>
                    <li><a href="{{ path('login') }}">Login</a></li>
                </ul>
            </div>
    {%  endblock %}

{%  endif %}
</div>
