<div class="row main-menu-container">
    <div class="col-lg-12 navbar-collapse">

        <ul class="nav nav-pills">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tools <b class="caret"></b></a>
                <ul class="dropdown-menu" id="menu1">
                    <li>
                        <a href="#">Affili tool <i class="glyphicon glyphicon-arrow-right"></i></a>
                        <ul class="dropdown-menu sub-menu">
                            <li>
                                <a href="/tools/affili">Affili orders helper</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Amazon tool <i class="glyphicon glyphicon-arrow-right"></i></a>
                        <ul class="dropdown-menu sub-menu">
                            <li>
                                <a href="/tools/amazon">Create amazon files</a>
                            </li>
                            <li>
                                <a href="/tools/amazon/show/edit">Edit files</a>
                            </li>
                            <li>
                                <a href="/tools/amazon/clear">Clear Amazon files</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Future action here</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Item 2</a>
            </li>
            <li class="dropdown">
                <a href="#">Item 3</a>
            </li>
        </ul>
    </div>
</div>