<div class="pagination-container">
    <ul class="pagination">
        {% if prevPageLink is defined %}
            {% if 1 == currentPage %}
                <li class="active"><a>&lt;</a></li>
            {% else %}
                <li><a href="{{ prevPageLink }}">&lt;</a></li>
            {% endif %}
        {% endif %}
    {% for i in range(1,pageNumber) %}
        {% if i == 1 %}
            {% if i == currentPage %}
                <li class="active"><a>{{ i }}</a></li>
            {% else %}
                <li><a href="{{ pageLink }}">{{ i }}</a></li>
            {% endif %}
        {% else %}
            {% if i == currentPage %}
                <li class="active"><a>{{ i }}</a></li>
            {% else %}
                <li><a href="{{ pageLink }}?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
        {% if nextPageLink is defined %}
            {% if pageNumber == currentPage %}
                <li class="active"><a>&gt;</a></li>
            {% else %}
                <li><a href="{{ nextPageLink }}">&gt;</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>