{% extends 'default/index.html.twig' %}

{% block content %}
    {% if app.user != null %}
        <div class="container">
            <div class="row content-wrapper">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <h1 class="panel-heading">Afilli.net tool</h1>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            {% if form_errors(form) %}
                                {{ form_errors(form) }}
                            {% endif %}
                            {{ form_row(form.pdf_file) }}
                            <div class="form-group">
                                <div class="col-md-8">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="glyphicon glyphicon-file"></i> Process
                                    </button>
                                </div>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row content-wrapper">
                <div class="col-md-12">You have to login to get access to Afilli.net tool</div>
            </div>
        </div>
    {% endif %}
{% endblock %}
