{% extends 'default/index.html.twig' %}

{% block content %}
    {% if app.user != null %}
    <div class="container">
        <div class="row content-wrapper">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <h1 class="panel-heading">Amazon tool - Files list</h1>
                    <div class="panel-body">
                        {% if files != null %}
                        <div class="row content-wrapper">
                            <div class="col-md-12">
                                <table class="files-table">
                                    <tr>
                                        <th>ID</th>
                                        <th{% if sortType.name is defined and sortType.name == true %} class="selected"{% endif %}><a class="sort-name sort-shevron" data-sort="{{ sort.name }}" data-sort-type="name" href="#">Filename <i class="glyphicon glyphicon-chevron-{{ sort.name }}"></i></a></th>
                                        <th{% if sortType.create is defined and sortType.create == true %} class="selected"{% endif %}><a class="sort-date sort-shevron" data-sort="{{ sort.create }}" data-sort-type="create" href="#">Create date <i class="glyphicon glyphicon-chevron-{{ sort.create }}"></i></a></th>
                                        <th>Download</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    {% for file in files %}
                                        <tr>
                                            <td>{{ file.id }}</td>
                                            <td><a href="{{ file.path }}">{{ file.name }}</a><br></td>
                                            <td>{{ file.create }}</td>
                                            <td><a href="{{ file.path }}"><i class="glyphicon glyphicon-download"></i> Download</a></td>
                                            <td><a class="edit" href="/edit/amazon/{{ file.name }}"><i class="glyphicon glyphicon-edit"></i> Edit</a></td>
                                            <td><a class="erase" href="/delete/amazon/{{ file.name }}"><i class="glyphicon glyphicon-erase"></i> Delete</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                {% if paginator is defined %}
                                    {{ paginator|raw }}
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <div class="row content-wrapper">
                            <div class="col-md-12">
                                <p>No files generated</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row content-wrapper">
            <div class="col-md-12">You have to login to get access to Afilli.net tool</div>
        </div>
    </div>
    {% endif %}
{% endblock %}
