{% extends 'default/index.html.twig' %}

{% block content %}
    {% if app.user != null %}
    <div class="container">
        <div class="row content-wrapper">
            <div class="col-md-12">
                <div class="panel panel-default">
                    {% if file is defined %}
                    <h1 class="panel-heading">Edit file - {{ file }}</h1>
                    {% else %}
                    <h1 class="panel-heading">Edit file error</h1>
                    {% endif %}
                    <div class="panel-body">
                        {% if table is defined %}
                        <div class="row content-wrapper">
                            <div class="col-md-12">
                                <table class="files-edit-table">
                                    {% for row,rowData in table %}
                                        {% if row==1 %}
                                        <tr>
                                            {% for column,rowValue in rowData %}
                                            <th>
                                                <span>{{ rowValue }}</span>
                                            </th>
                                            {% endfor %}
                                        </tr>
                                        {% else %}
                                        <tr>
                                            {% for column,rowValue in rowData %}
                                            <td class="edit-cell">
                                                <span data-cell-row="{{ row }}" data-cell-col="{{ column }}">{{ rowValue }}</span>
                                                <input type="hidden" name="cell[{{ row }}][{{ column }}]" value="{{ rowValue }}">
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <div class="row content-wrapper">
                            <div class="col-md-12">
                                <p>No files generated</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row content-wrapper">
            <div class="col-md-12">You have to login to get access to Afilli.net tool</div>
        </div>
    </div>
    {% endif %}
{% endblock %}
