{% extends 'default/index.html.twig' %}

{% block content %}
    {% if app.user != null %}
    <div class="container">
        <div class="row content-wrapper">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <h1 class="panel-heading">Amazon tool - Files list</h1>
                    <div class="panel-body">
                        {% if files is defined %}
                        <div class="row content-wrapper">
                            <div class="col-md-12">
                                <table class="files-table">
                                    <tr>
                                        <th>ID</th>
                                        <th>Filename</th>
                                        <th>Create date</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    {% for file in files %}
                                        <tr>
                                            <td>{{ file.id }}</td>
                                            <td>{{ file.name }}</td>
                                            <td>{{ file.create_date }}</td>
                                            <td><a class="edit" href="/tools/amazon/show/edit/{{ file.id }}"><i class="glyphicon glyphicon-edit"></i> Edit</a></td>
                                            <td><a class="erase" href="/tools/amazon/show/erase/{{ file.id }}"><i class="glyphicon glyphicon-erase"></i> Delete</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <div class="row content-wrapper">
                            <div class="col-md-12">
                                <p>No files generated</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row content-wrapper">
            <div class="col-md-12">You have to login to get access to Afilli.net tool</div>
        </div>
    </div>
    {% endif %}
{% endblock %}
