{% extends 'default/index.html.twig' %}

{% block content %}
    {% if app.user != null %}
    <div class="container">
        <div class="row content-wrapper">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <h1 class="panel-heading">Amazon tool</h1>
                    <div class="panel-body">
                    {{ form_start(form) }}
                        {% if form_errors(form) %}
                        {{ form_errors(form) }}
                        {% endif %}
                        <div class="form-group">
                            {{ form_row(form.first_file) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.second_file) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.third_file) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.fourth_file) }}
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="glyphicon glyphicon-file"></i> Process
                                    </button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
        {% if files is defined %}
        <div class="row content-wrapper">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <h2 class="panel-heading">Files to download</h2>
                    <table class="files-table">
                        <tr>
                            <th>
                                Filename
                            </th>
                            <th>
                                Create date
                            </th>
                        </tr>
                    {% for file in files %}
                        <tr>
                            <td>
                                <a href="{{ file.path }}">{{ file.name }}</a><br>
                            </td>
                            <td>
                                {{ file.time }}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row content-wrapper">
            <div class="col-md-12">
                <p>No files generated</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="container">
        <div class="row content-wrapper">
            <div class="col-md-12">You have to login to get access to Afilli.net tool</div>
        </div>
    </div>
    {% endif %}
{% endblock %}
