body {

}

.content-wrapper{
    padding: 10px 0;
}

.top-menu-line {
    padding: 10px 0;
}

.logo-text {
    font-size: 1.4em;
    padding: 5px;
    margin-left: 30px;
}

.top-login-container {
    padding: 5px;
}

/*
.dropdown-submenu:hover .dropdown-menu {
    display: block!important;
}
*/

.files-table th,
.files-table td {
    padding: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
}
.files-table th:last-child,
.files-table td:last-child {
    border-right: none;
}

.files-table .edit {
    color: #3c763d;
}

.files-table .erase {
    color: indianred;
}

.files-table .selected {
    background: lightgrey;
}

.files-edit-table td,.files-edit-table th {
    padding: 5px;
    text-align: center;
}

.files-edit-table td input {
    text-align: center;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}