{% extends 'default/index.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    {{ form_start(form) }}

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ form_row(form.name, {'attr': {class: 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ form_row(form.email, {'attr': {class: 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ form_row(form.plainPassword.first, {'attr': {class: 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ form_row(form.plainPassword.second, {'attr': {class: 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <button class="btn btn-primary" type="submit">
                                <i class="glyphicon glyphicon-user"></i> Regiser
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}